<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/<%= userId %>/profile/edit" method="post">
        <ul>
            <li>
                <label for="name">name</label>
                <input type="text" name="name">
            </li>
            <li>
                <label for="phone">phone</label>
                <input type="text" name="phone">
            </li>
            <li>
                <label for="description">description</label>
                <input type="text" name="description">
            </li>
        </ul>

        <button type="submit">submit</button>
    </form>
</body>
</html>